<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="datatransportation.sinan.com">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.IntentActivity" />
        <activity android:name=".ui.BundleActivity" />
        <activity android:name=".ui.SerializableActivity" />
        <activity android:name=".ui.ParcelableActivity" />
        <activity android:name=".ui.SingletonActivity" />
        <activity android:name=".ui.data.DataIntentActivity" />
        <activity android:name=".ui.data.DataBundleActivity" />
        <activity android:name=".ui.data.DataSerializableActivity" />
        <activity android:name=".ui.data.DataParcelableActivity" />
        <activity android:name=".ui.data.DataSingletonActivity"></activity>
    </application>

</manifest>